@charset "UTF-8";

body {
    margin: 0; 
    height: 100vh;
  	min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.container-form-login {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.container_mensagem{
	margin: auto; 
    width: 400px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn.btn-primary {
    background-color: #000000; 
    border-color: lightblue; 
}

.container-voos {
    margin: auto;
    padding: 30px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.greetings{
	 margin: auto;
	 padding: 40px;
	 background-color: lightblue;
	 align-content: center;		
	 color: #FFFFFF;	
	 border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabela_voos{
	margin: auto;
	 background-color: lightblue;
	 align-content: center;		
	 color: #FFFFFF;	
	 padding: 40px;
	 border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    margin-top: 20px;
    border: 1px solid black; 
    
}
th, td {
	
  	padding: 20px;
    text-align: left;
     border-radius: 10px;
}

.botao_cadastro{
	 justify-content: flex-end;
}

h3{
	color: #FFFFFF;
	margin: 20px;
	text-align: center;

}

.mb-3{
	margin: 20px;
	color:#FFFFFF;
	padding: 10px;

}

.navbar-nav{
	min-width: 100%;
	align-items: center;
	justify-content: center; 
            gap: 40px;
}
nav{
	min-width: 100%;
	align-items: center;
	justify-content: center; 
}
.container-fluid{
		align-items: center;
}